h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
  font-size: 36px;
  color: azure;
  margin-left: 2%;
}
.icons svg {
    margin-right: 10px; /* Adjust the margin to your desired spacing */
  }


  
