.background {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


// .py-3 {
//     padding-top: 1rem!important;
//     padding-bottom: 1rem!important;
// }
// .my-4 {
//     margin-top: 1.5rem!important;
//     margin-bottom: 1.5rem!important;
// }
// .align-items-center {
//     align-items: center!important;
// }
// .justify-content-between {
//     justify-content: space-between!important;
// }
// .flex-wrap {
//     flex-wrap: wrap!important;
// }
// .border-top {
//     border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
// }
// .d-flex {
//     display: flex!important;
// }
// *, ::after, ::before {
//     box-sizing: border-box;
// }

// footer {
//     display: block;
// }