$border-size: 1px;
$border-color: transparent;
$square-color: #fff;
$square-hover-color: #ddd;
$focus-shadow: 0 0 0 2px #000;

.container.game-area {
  margin: 0 auto; // Center the game area horizontally
  margin-top: 20px; // Add a top margin
  max-width: 600px; // Adjust the maximum width as needed
}

.game-container {
  background-color: $border-color;
  position: relative;
}

.square {
  display: inline-block;
  position: relative;
  width: 160px; /* Increase the width to make the squares bigger */
  height: 160px; /* Increase the height to make the squares bigger */
  background-color: $square-color;
  border: none;
  z-index: 1;
  margin: 0; /* Remove margin to make squares closer together */
  font-size: 36px; /* Increase the font size for X and O */

  &:hover {
    background-color: $square-hover-color;
  }

  &:focus {
    z-index: 5;
    box-shadow: $focus-shadow;
    outline: none;
  }

  &:active {
    background-color: darken($square-hover-color, 5%);
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row + .row {
  margin-top: $border-size;
}

.square + .square {
  margin-left: $border-size;
}

.btn{
  color: transparent;
  width: 100px;
  height: 50px;
}

.btn:hover {
  background-color: #021153;
}

.text-center{
  color: white;
}

.status, .winner {
  font-size: 30px; /* Make text size bigger in status and winner areas */
}
