<div class="container text-center">
  <div id="statusArea" class="status">Next player: <span>{{ currentPlayer }}</span></div>
  <div id="winnerArea" class="winner">Winner: <span>{{ winner }}</span></div>
  <button class="btn btn-primary" (click)="resetGame()">Reset</button>
</div>

<div class="container game-area text-center">
  <section class="game-container">
    <div class="row" *ngFor="let row of [0, 1, 2]; let rowIndex = index">
      <div class="col" *ngFor="let col of [0, 1, 2]; let colIndex = index">
        <button class="square" (click)="makeMove(rowIndex, colIndex)">{{ board[rowIndex][colIndex] }}</button>
      </div>
    </div>
  </section>
</div>
