$border-size: 1px;
$border-color: #555;
$square-color: #fff;
$square-hover-color: #ddd;
$focus-shadow: 0 0 0 2px #000;

.container.game-area {
  margin: 0 auto; // Center the game area horizontally
  margin-top: 20px; // Add a top margin
  max-width: 600px; // Adjust the maximum width as needed
}

.game-container {
  background-color: $border-color;
  position: relative;
}

.square {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: $square-color;
  border: none;
  z-index: 1;
  margin: 1px; // Add margin to separate squares

  &:hover {
    background-color: $square-hover-color;
  }

  &:focus {
    z-index: 5;
    box-shadow: $focus-shadow;
    outline: none;
  }

  &:active {
    background-color: darken($square-hover-color, 5%);
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row + .row {
  margin-top: $border-size;
}

.square + .square {
  margin-left: $border-size;
}
